[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyttsx3 = "*"
speechrecognition = "*"
pyaudio = "*"
pywhatkit = "*"
spotipy = "*"
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.9"
